---
layout: default
---
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <div class="navbar-header">
              <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">
                Lollek
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/">Front Page</a></li>
                <li><a href="/notes.html">Notes</a></li>
              </ul>
            </div>
            <li><a href="/notes.html">Notes</a></li>
            <li class="active"><a href="">{{ page.title }}</a></li>
          </li>
        </ul>
      </div>
    </div>

    <div class="container" role="main">{{ content }}</div>
